{% include 'header.html' %}


{% block content %}
    <div class="container">
        <h2>Informações de Consumo</h2>
        <br>
        <canvas id="myChart" width="600" height="200"></canvas>
        <br>
        <h2>{{ unidade.nome }}</h2>
        <br>
        <h3>Medidas</h3>
        <div class="row">
            <div class="col-lg-8">
                <div class="list-group">
                {% for med in unidade.medidas %}
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{ med.data }}
                    </h4>
                    <br>
                    <p class="list-group-item-heading">
                        Consumo: {{ med.consumo }} - Valor: {{ med.valor }}
                    </p>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.min.js"></script>

<script>

    var mydata = Array();
    {% for m in medidas %}
        mydata.push({{ m.valor / 10}});
    {% endfor %}


    var data = {
        labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],

        datasets: [
            {
                label: "Medidas",
                backgroundColor: "rgba(20,129,227, 0.7)",
                
                data: mydata
            }
        ]
    };

    var config = {
        type: "bar",
        data: data,
        options: {
            scales: {
                yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max:500,
                        }
                    }]
            }
        } 
    }

    var ctx = $("#myChart").get(0).getContext("2d");
    var myNewChart = new Chart(ctx, config);
</script>

{% include 'footer.html' %}