{% include 'header.html' %}

{% block content %}
    <div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron">
          <h1>Bem vindo ao Sistema de Informações Elétricas da UFC</h1>
          <p class="lead">Uma iniciativa da Cordenadoria de Conservação de Energia da Superintendência de Infraestrutura da Universidade Federal do Ceará.</p>
          <p><a class="btn btn-lg btn-success" href="equipamentos" role="button">Visualizar Equipamentos</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            {% for noticia in noticias %}
                <div class="col-lg-4">
                  <h2>{{ noticia.titulo }}</h2>
                  <p>
                      {{ noticia.texto[:180] }}...
                  </p>
                  <p><a class="btn btn-primary" href="/noticias/{{ noticia.id }}" role="button">Continuar lendo »</a></p>
                </div>
            {% endfor %}          
        </div> <!-- /row -->

        <!-- Site footer -->
        <footer class="footer">
          <p>© 2015 Company, Inc.</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}
{% include 'footer.html' %}