{% include 'header.html' %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="artigo">
                <h2>{{ noticia.titulo }}</h2>
                <br>
                <p>Publicado em {{ noticia.data.day }}/{{ noticia.data.month }}/{{ noticia.data.year }}</p>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="artigo">
                <p id='texto'>{{ noticia.texto }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<script>
    $("#texto").html(($("#texto").text()));
</script>

{% include 'footer.html' %}