{% extends "base.html" %}


{% block page_title %}Manutenção{% endblock %}


{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/principal/manutencao.css') }}">
{% endblock %}


{% set active_tab = 'manutencao' %}


{% block page_content %}
	<div class="page-header">
		<h1>Controle de Manutenções</h1>	
	</div>
	
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Manutenções Abertas</a></li>
	  <li role="presentation"><a href="#">Manutenções Agendadas</a></li>
	</ul>

	<h3>Manutenções Abertas</h3>

	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Adicionar Filtros
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Tipo de Equipamento</a></li>
	    <li><a href="#">Ambiente</a></li>
	    <li><a href="#">Bloco</a></li>
	    <li><a href="#">Departamento</a></li>
	    <li><a href="#">Centro</a></li>
	    <li><a href="#">Campus</a></li>
	    <li><a href="#">Data de Abertura</a></li>
	  </ul>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Tombamento</th>
				<th>Tipo de Equipamento</th>
				<th>Ambiente</th>
				<th>Bloco</th>
				<th>Departamento</th>
				<th>Centro</th>
				<th>Campus</th>
				<th>Data de Abertura</th>
				{% if current_user.cadastrador() %}
					<th></th>	
				{% endif %}
			</tr>
		</thead>

		<tbody>
			{% for equipamento in equip_man_aberta %}
				<tr>
					<td>{{ equipamento.tombamento }}</td>
					<td>{{ equipamento.tipo_equipamento }}</td>
					<td>{{ equipamento.ambiente.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.departamento.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.departamento.centro.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.departamento.centro.campus.nome }}</td>
					<td>{{ equipamento.manutencoes[-1].data_abertura.strftime('%d.%m.%Y') }}</td>
					{% if current_user.cadastrador() %}
						<td>
							<div class="dropdown">
	  						<button class="btn btn-default dropdown-toggle" type="button" id="equip{{ equipamento.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    	    			<i class="fa fa-wrench" aria-hidden="true"></i>
	  						</button>
	  						
	  						<ul class="dropdown-menu opcoes_manutencao" aria-labelledby="equip{{ equipamento.id }}">
	    						<li>
	    							<a href="{{ url_for('manutencao.edit_view',
	    																	id=equipamento.manutencoes[-1].id,
	    																	url=url_for('principal.manutencao')) }}">
	    								Concluir Manutenção
	    							</a>
	    						</li>
	  						</ul>
							</div>							
						</td>							
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>		

	<h3>Manutenções Agendadas</h3>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Tombamento</th>
				<th>Tipo de Equipamento</th>
				<th>Ambiente</th>
				<th>Bloco</th>
				<th>Departamento</th>
				<th>Centro</th>
				<th>Campus</th>
				<th>Próxima Manutenção</th>
				{% if current_user.cadastrador() %}
					<th></th>	
				{% endif %}
			</tr>
		</thead>

		<tbody>
			{% for equipamento in equip_man_agendada %}
				{% if (equipamento.proxima_manutencao - data_hoje).days < 0 %}
					<tr class="danger">
				{% elif (equipamento.proxima_manutencao - data_hoje).days <= 7 %}
					<tr class="warning">
				{% elif (equipamento.proxima_manutencao - data_hoje).days <= 30 %}
					<tr class="info">
				{% else %}
					<tr>
				{% endif %}

					<td>{{ equipamento.tombamento }}</td>
					<td>{{ equipamento.tipo_equipamento }}</td>
					<td>{{ equipamento.ambiente.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.departamento.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.departamento.centro.nome }}</td>
					<td>{{ equipamento.ambiente.bloco.departamento.centro.campus.nome }}</td>
					<td>{{ equipamento.proxima_manutencao.strftime('%d.%m.%Y') }}</td>
					{% if current_user.cadastrador() %}
						<td>
							<div class="dropdown">
	  						<button class="btn btn-default dropdown-toggle" type="button" id="equip{{ equipamento.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    	    			<i class="fa fa-wrench" aria-hidden="true"></i>
	  						</button>
	  						
	  						<ul class="dropdown-menu opcoes_manutencao" aria-labelledby="equip{{ equipamento.id }}">
	    						<li>
	    							<a href="{{ url_for('manutencao.create_view',
	    																	id=equipamento.id,
	    																	url=url_for('principal.manutencao')) }}">
	    								Criar Manutenção
	    							</a>
	    						</li>
							</div>							
						</td>							
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}